body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

#images img {
    width: 280px;
    height: 400px;
}