/* style.css zrobione przez Janka */

@font-face {
    font-family: "default";
    src: url(./SamsungOne-400.ttf);
}

@media print {
    /* Hide the button during print */
    button {
        display: none;
    }

    /* Hide everything except for the output */
    body * {
        visibility: hidden;
    }

    #output {
        visibility: visible;
        color: black;
    }
}

body {
    background-color: black;
    font-family: "default";
    justify-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    cursor: none;
    color: white;
}

#cursor {
    position: fixed;
    width: 32px;
    height: 32px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#b {
    -webkit-user-drag: none;
}

noscript {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: red;
}

@media (max-width: 768px) {
  #cursor {
    display: none;
  }
}
